.form-check-input:checked {
    background-color: rgb(12, 184, 182) !important;
    border-color: rgb(12, 184, 182) !important;
    outline: none;
}

.form-check {
    cursor: pointer;
}

.form-check-input {
    cursor: pointer;
}

.form-check-label {
    cursor: pointer;
}